* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 500;
    flex-direction: column;
}

.myntra_home {
    height: 45px;
}
.logo_container {
    margin-left: 4%;
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    /* border-bottom: 5px solid #ffffff; */
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    width: 100px;
    width: 50%;
    display: flex;
    align-items: center;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
.action_bar a {
  color: #020202;
  text-decoration: none;
  font-weight: 600;
  /* font-size: 0.95em; */
  /* transition: color 0.3s ease-in-out; */
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

/* Main section */
.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category-items, .items-container {
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}
/* 
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer-row{
  display: flex;
    flex-direction: row;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
} */

.copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
}

.item-recommend-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
 .home-item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
 
 }
.item-container {
    width: 250px;
    margin: 10px;
    background-color: white;
}.item-container-home {
    width: 250px;
    margin: 10px;
}
.item-image {
  width: 450px; 
  height: 350px;
  /* object-fit: cover; */
}

.rating {
    font-size: 12px;
    font-weight: 700;
}
.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-remove-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: #f16565;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.bag-item-count {
    background-color: #f16565;
    /* white-space: nowrap; */
    /* text-align: center; */
    /* line-height: 18px; */
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -45px;
    /* font-weight: 700; */
    cursor: pointer;
}
.action_container {
    text-decoration: none;
}
a.action_container:link {
    color:black;
}

.bag-items-container {
    display: inline-block;
    width: 64%;
    padding-right: 20px;
    /* border-right: 1px solid #eaeaec; */
    padding-top: 32px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
  }

  .wishlist-items-container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-items: center;
   
    padding-top: 32px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
  }
  
  .bag-page {
    width: 45%;
    /* margin-left: 12.5%; */
    margin-top: 120px;
  }

  .wish-page{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 5.5%; 
    margin-right: 8.5%; 
  }


  @media (max-width: 768px) {
    .bag-page {
      width: 95%;
    }
  
  }

  .bag-summary {
    vertical-align: top;
    display: inline-block;
    width: 65%;
    /* padding: 24px 0 0 16px; */
    color: #282c3f;
    font-size: 13px;
    line-height: 3.12857143;
    margin-bottom: 25px;
    background-color: white;
    /* margin: 0 auto; */
  }

  .bag-details-container {
    margin-bottom: 16px;
  }
  
  .price-header {
    font-size: 12px;
    font-weight: 700;
    margin: 24px 0 16px;
    color: #535766;
  }
  
  .price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
  }
  
  .price-item-value {
    float: right;
  }
  
  .priceDetail-base-discount {
    color: #03a685;
  }
  
  .price-footer {
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
  }
  
  .btn-place-order {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 5px 16px;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .bag-item-container {
    margin-bottom: 8px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
  }
  
  .item-left-part {
    position: absolute;
    background: rgb(255, 242, 223);
    height: 148px;
    width: 111px;
  }
  
  .item-right-part {
    padding-left: 12px;
    position: relative;
    text-align: left;
    min-height: 148px;
    margin-left: 111px;
    margin-bottom: 12px;
  }
  
  .bag-item-img {
    width: 100%;
  }
  
  .return-period {
    display: inline-flex;
    font-size: 14px;
    padding-top: 8px;
  }
  
  .return-period-days {
    font-weight: 700;
    margin-right: 4px;
  }
  
  .delivery-details {
    margin-top: 5px;
    color: #282c3f;
    font-size: 12px;
    letter-spacing: -.1px;
    margin-bottom: 8px;
    line-height: 15px;
  }
  
  .delivery-details-days {
    color: #03a685;
  }
  
  .remove-from-cart {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .spinner{
    margin:100px 0;
  }

  .carousel-image {
    width: 100%;
    height: 600px;
    margin-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 768px) {
    .carousel-image {
      width: 100%;
      height: 300px;
      margin-top: 100px; 
      /* margin-left: 15px; */
      margin-bottom: 10px;
    }
  }

 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: #ccc;
}

.logo_container img {
  height: 40px;
}

.nav_bar {
  display: flex;
  gap: 15px;
}

.nav_bar a {
  text-decoration: none;
  color: #333;
}

.search_bar {
  flex-grow: 1;
  margin: 0 10px;
}

.search_input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action_bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none; 
  margin-right: 25px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.menu-links .link{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}


@media (max-width: 768px) {
  .nav_bar {
    display: none; 
  }

  .hamburger {
    display: block;
  }
  .action_bar{
    display:none;
  }
  .search_bar{
    max-width: 60%;
  }
}

.item-container {
  position: relative; 
  margin: 20px; 
  border-radius: 8px; 
  overflow: hidden; 
  transition: transform 0.2s; 
}

.item-container:hover {
  transform: scale(1.05); 
}

.image-container {
  position: relative; 
}

.item-image {
  max-width: 500px;
  width: 100%; 
  /* height: auto;  */
}

.wishlist-button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background: rgba(255, 255, 255, 0.8); 
  border: none; 
  border-radius: 50%; 
  cursor: pointer; 
  padding: 5px; 
  /* transition: background 0.3s; */
}

.display-none{
  display:none;
}

.wishlist-button:hover {
  background: rgba(255, 255, 255, 1); 
}

.btn1{
  color:red;
}

.hidden-sm {
  background-color: white;
  color:black;
  padding: 0.5rem 105.75rem;
  padding-bottom: 25px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link{
  text-decoration: none;
  color:gray;
}


.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 1500px; 
  width: 100%; 
}

.wishlist-text{
  color: black;
  margin-top: 100px;
  text-align: center;
}

.wush-btn{
  background: rgba(227, 219, 219, 0.8); 
  border: none; 
  border-radius: 100%; 
  cursor: pointer; 
  padding: 5px; 
}

.item-link{
  text-decoration: none;
}

/* .more-like{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  max-width:600px;
  width: 100%;
  color: #282c3f;
}
 */


 .more-like {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 8px; */
  max-width: 800px;
  width: 100%;
  /* border: 2px solid; */
  color: #282c3f;
  /* font-family: Arial, sans-serif; */
  margin-top: 20px;
}

.sort-label {
  font-weight: bold;
  font-size: 1rem;
}

.custom-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.custom-select {
  width: 82%;
  padding: 8px 12px;
  font-size: 1rem;
  color: #282c3f;
  background-color: #f8f8f8;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.custom-select:focus {
  outline: none;
  border-color: #4a90e2;
}

.custom-select-container::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #282c3f;
  pointer-events: none;
}

.custom-select option {
  padding: 8px;
}

@media (max-width: 768px) {
  .more-like {
    max-width: 100%;
  }

  .custom-select {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}

.slected-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid; */
  max-width: 1000px;
  width:100%;
  margin-top:50px ;
}

.more-content{
  display: flex;
  flex-wrap: wrap;
}

.icons{
  /* margin-right: 25px; */
  left:25;
}

.action-con{
  margin-bottom: 15px;
}
/* 
.footer-image{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-image img{
  border-radius: 5px;
}

.footer-text{
  margin-top: 1.6rem;
}

.footer-icon{
  display: flex;
  gap: 15px;
}

.footer-origional{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-top: 25px;
}

.footer-origional-img{
  display: flex;
}
.footer-origional-img p{
  margin-top: 10px;
}

.footer-origional-img img{
  width: 80px;
} */
/* General Styling */
.footer_container {
  padding: 40px;
  background-color: #FAFBFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.footer-row {
  display: grid;
  gap: 30px;
  width: 100%;
}

.footer-additional {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 60%;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer_column_experience{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
}

.footer_column h3 {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}.footer_column_experience h3 {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
  text-align: left;
}

.footer_column a {
  color: #666;
  text-decoration: none;
  font-size: 0.95em;
  transition: color 0.3s ease-in-out;
}

.footer_column a:hover {
  color: #000;
}

.footer-image {
  display: flex;
  flex-wrap:wrap;
  justify-content: left;
  gap: 15px;
  margin: 10px 0;
}

.footer-image img {
  width: 120px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}


.footer-icon {
  display: flex;
  gap: 20px;
  font-size: 1.8em;
  color: #333;
  margin-top: 10px;
  transition: color 0.3s ease;
}
.footer-icon a {
  color: #666;
  text-decoration: none;
  font-size: 0.95em;
  transition: color 0.3s ease-in-out;
}

.footer-icon a:hover {
  color: #000;
}
.footer-icon:hover {
  color: #000;
}

.footer-commitments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  text-align: left;
}

.footer-commitment-item {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}

.footer-commitment-item img {
  width: 50px;
}

.footer-commitment-item p {
  font-size: 0.9em;
  color: #333;
  line-height: 1.4;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
  width: 100%;
}

.copyright {
  text-align: center;
  font-size: 0.85em;
  color: #666;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
  .footer-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-additional {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .footer_container {
    padding: 50px 60px;
  }

  .footer-row, .footer-additional {
    gap: 40px;
  }

  .footer_column h3 {
    font-size: 1.3em;
  }

  .footer_column a {
    font-size: 1em;
  }
}
.light-mode {
  background-color: #fff;
}

.dark-mode {
  background-color: #000000;
  color: #fff;
}

.background-toggle {
  cursor: pointer;
  font-size: 1.8rem;
  margin-bottom: 14px;
  border-radius: 50%;
}
